.app{
    width:380px;
    height:665px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,126,125,1) 52%, rgba(29,68,68,1) 100%);
    overflow:auto;
    position: relative;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
}
.logo{
    border-radius: 10px;
    height: 40px;
    width: 50px;

}
.btn_cerrar{
    background-color: #307473;
    position: absolute;
    left: 80%;
    margin-top: 27px;
    height: 42px;
    border-radius: 30px;
}
.logomini{
    position: absolute;
    left: 10%;
    top: 5%;
    
}


.titulo{
    position: absolute;
    left: 30%;
    top: 2%;
    
}

.formulario{
    background: rgb(207, 207, 207);
    position: absolute;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    bottom: 10%;
    width: 88%;
    height: 78%;
    left: 5%;
    text-align: center;
}


.citas{
    background: white;
    position: absolute;
    left: 10%;
    top: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    width: 78%;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
}
.btn_enviar{
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
    position: absolute;
    border-color: black;
    bottom: 3%;
    left: 25%;
}
.btn_enviar:hover{
    border-color: white;
    font-style: bright;
}