.app{
    width:380px;
    height:665px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,126,125,1) 52%, rgba(29,68,68,1) 100%);
    overflow:auto;
    position: relative;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
  }

.center{
  margin: 0 auto;
  /*height: 100px;*/
  position: absolute;
  top: 20%;
  left: 30%;
  margin: -50px 0 0 -50px;
}

.logo{
  position: absolute;
  top: 10%;
  left: 15%;
  border-radius: 10px;

}

.text{
  position: absolute;
  text-align: center;
  bottom: 20%;
  left: 23%;
}

.inicio{
  position: absolute;
  text-align: center;
  bottom: 40%;
  left: 23%;
}

.botonesIni{
  position: absolute;
  bottom: 30%;
  left: 30%;
}

.botonesReg{
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.RegtoIni{
  position: absolute;
  bottom: 5%;
  left: 25%;
}
