.app{
    width:380px;
    height:500px;
    background:rgb(58, 207, 170);
    overflow:auto;
    position: relative;
  }

.center{
  margin: 0 auto;
  /*height: 100px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

.logo{
  position: absolute;
  top: 20%;
  left: 40%;
}

.text{
  position: absolute;
  text-align: center;
  bottom: 20%;
  left: 23%;
}

.inicio{
  position: absolute;
  text-align: center;
  bottom: 45%;
  left: 23%;
}

.botonesIni{
  position: absolute;
  bottom: 30%;
  left: 30%;
}

.botonesReg{
  position: absolute;
  bottom: 20%;
  left: 30%;
}
