*{
    box-sizing: border-box;
}
p{
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.logo{
    border-radius: 10px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
}
.btn_cerrar{
    background-color: #307473;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.btn_cerrar1{
    background-color: #307473;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    margin:0;
}
.app{
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,126,125,1) 52%, rgba(29,68,68,1) 100%);
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;

}
#preloader_1{
    height: 100vh;
    width: 100vw;

}
#preloader_1 span{
    border-style: solid;
	display:block;
	bottom:50vh;
	width: 9px;
	height: 5px;
    margin-left: 42vw;
	background:rgb(255,255,255);
	position:absolute;
    animation: preloader_1 1.5s ease-in-out 4;
}
#preloader_1 span:nth-child(1){
    left:0px;
    animation-delay: .2s;
}
#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .8s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: 1s;
}
#preloader_1 span:nth-child(6){
    left:55px;
    animation-delay: 1.2s;
}
@keyframes preloader_1 {
    0% {height:100px;transform:translateY(0px);background:rgba(255,255,255,1);}
    10% {height:120px;transform:translateY(5px);background:rgba(255,255,255,1);}
    20% {height:140px;transform:translateY(10px);background:rgba(255,255,255,1);}
    30% {height:150px;transform:translateY(15px);background:rgba(255,255,255,1);}
    40% {height:160px;transform:translateY(25px);background:rgba(255,255,255,1);}
    50% {height:180px;transform:translateY(30px);background:rgb(32, 106, 105);}
    60% {height:160px;transform:translateY(25px);background:rgb(32, 106, 105);}
    70% {height:150px;transform:translateY(15px);background:rgba(255,255,255,1);}
    80% {height:140px;transform:translateY(10px);background:rgba(255,255,255,1);}
    90% {height:130px;transform:translateY(5px);background:rgba(255,255,255,1);}
    100% {height:120px;transform:translateY(0px);background:rgba(255,255,255,1);}
}
.configuracion{
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-right: -8px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,126,125,1) 52%, rgba(29,68,68,1) 100%);
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}
.header-config{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav{
    background: transparent;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav__link{
    margin-top: 10px;
    padding: 15px 0;
    text-decoration: none;
}
.nav__link--inside{
    text-align: left;
}
.list__inside{
    margin-bottom: 5px;
}
.nav__link--inside:hover{
 color: blue;
}
.list{
    border-radius: 20px;
    width: 300px;
    height: 563px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    height: 570px;

}
.list__item{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.list__item--click{
    cursor: pointer;
}
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.arrow .list__arrow{
    transform: rotate(90deg);
}
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}
.list__show{
    margin-top: 1px;
    margin-left: 40px;
    width: 40%;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.del{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#div2 {
    border-color: black;
    background-color: white;
    overflow-y: scroll;
    margin-left: 10%;
    height:120px;
    width:78%;
}
#div3{
    border-color: black;
    background-color: white;
    overflow-y: scroll;
    height:150px;
    width:100%;
}
#div1 {
    border-color: black;
    background-color: white;
    overflow-y: scroll;
    height:145px;
    width:80%;
    margin-left: 10%;
}
.contenedor{
    text-align: center;
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: px;
    grid-row-gap: px;
}
.contenedor .info{
    margin-top: 10%;
}
.in1{
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    height:50px;
}
.in2{
    border-style: solid;
    height:50px;
}
.in3{
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    height:50px;
}
.perfil{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,126,125,1) 52%, rgba(29,68,68,1) 100%);
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    height: 800px;
    width: 380px;
}
.header-perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.p1{
    color: black;
    font-weight: bold;
    font-size:x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.foto1 img{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 80px;
}
.foto{
    border-color: black;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foto img{
    height: 150px;
    width: 150px;
    margin-top: 25px;
    border-style: solid;
    border-radius: 80px;
}
.body-perfil{
    height: 58%;
    border-radius: 0 0 20px 20px;
    display: block;
}
.seccion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p2{
    color: white;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.caja {
    border:1px solid #d9d9d9;
    margin-top: 10px;
    margin-bottom: 10px;
    height:30px;
    margin-left: 10px;
    overflow: hidden;
    width: 170px;
    position:relative;
    border-style: solid;    
}
select {
    background-color: white;
    color: black;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 170px    
}
.caja::after{
    content:"\025be";
    display:table-cell;
    text-align:center;
    width:30px;
    background-color:#d9d9d9;
    top:0;
    right:0px;	
    pointer-events: none;
}
.seccion4{ 
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.seccion2{
   display: block;
   height: 180px;
   border-radius: 0 0 20px 20px;
}
.seccion3{
   display: block;
   height: 190px;
}
.p-patologias{
   color: white;
   font-weight: bold;
   width: 100px;
   margin-left: 25px;
   font-size: large;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.caja-patologias{
    margin-left: 5%;
    background-color: white;
    opacity: 0.8;
    width: 90%;
    height: 110px;
    border-radius: 10px;
}
.descripcion{
    height: 58%;
}
.p-descripcion{
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 25px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.caja-descripcion{
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    background-color: white;
    width: 90%;
    height: 110px;
    border-radius: 10px;
}
.dbtn_anadirp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_añadirP{
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
}
.btn_añadirP:hover{
    border-color: white;
    font-style: bright;
}
.header-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}
.btn_perfil{
    background-color: #307473;
    border-radius: 30px;
    margin-top: 10px;
    height: 44px;
}
.header-main input{
    margin-top: 10px;
    height: 44px;
}
.btnCitas{
    margin-left: 10%;
    display: flex;
    width: 80vw;
    justify-content: space-around;
    color: white;
}
.btnCitas input{
    border-radius: 30px;
    margin-top: 10px;
    height: 44px;
}
.btnMeds{

    margin-left: 10%;
    display: flex;
    width: 80vw;
    justify-content: space-around;
    color: white;
}
.btnMeds input{
    border-radius: 30px;
    margin-top: 10px;
    height: 44px;
}
input{
    margin-top: 10px;
    height: 30px;
}
.btn_config{
    background-color: transparent;
    border-radius: 0%;
    height: 40px;
    width: 40px;
    margin-right: 3%;
}
.btn_aggCita{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
}
.btn_aggCita:hover{
    border-color: white;
    font-style: bright;
}
.btn_delCita{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
}
.btn_delCita:hover{
    border-color: white;
    font-style: bright;
}
.btn_aggMed{
    height: 35px;
    width: 160px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
}
.btn_aggMed:hover{
    border-color: white;
    font-style: bright;
}
.btn_delMed{
    height: 35px;
    margin-left: 2%;
    width: 160px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
}
.btn_delMed:hover{
    border-color: white;
    font-style: bright;
}
a:hover{
    text-decoration-line: underline;
    cursor: pointer;
}
.profnconf{
    position: absolute;
    top: 5%;
}
.medicamentos{
    background: white;
    position: absolute;
    left: 10%;
    top: 60%;
    border: 1px solid black;
    border-collapse: collapse;
    width: 78%;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
}
.titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 50px;
    width: 120px;
    border-radius: 30px;
}
.titulo1{
    margin-left: 10%;
    width: 80vw;
    color: white;
}
.titulo2{
    margin-left: 10%;
    width: 80vw;
    color: white;
}
.titulo3{
    height: 40px;
    width: 100%;
    color: black;

}

h2{
    height: 40px;
}
h3{
    height: 0px;
}
.formulario{
    background: #E4DFDA;
    position: absolute;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    bottom: 10%;
    width: 88%;
    height: 84vh;
    left: 5%;
    text-align: center;
    display: block;
    top: 15%;
}
.citas{
    background: white;
    position: absolute;
    left: 10%;
    top: 77%;
    border: 1px solid black;
    border-collapse: collapse;
    width: 78%;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
}
.enviar1{
    margin-top: 8px;
}
.enviar{
    margin-top: 31px;
}
.btn_enviar{
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
    border-color: black;
}
.btn_enviar:hover{
    border-color: white;
    font-style: bright;
}
.btn_enviar1{
    margin-top: 10%;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border-style: solid;
    background: rgb(255,255,255);
    border-color: black;
}
.btn_enviar1:hover{
    border-color: white;
    font-style: bright;
}